html {
  font-size: 67.5%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 500; }

.data {
  width: 90%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1rem 3rem #969696; }
  @media screen and (min-width: 900px) {
    .data {
      flex-direction: row;
      justify-content: space-between;
      padding: 2rem; } }
  .data__box {
    padding: 1rem 3%;
    text-align: center;
    position: relative; }
    @media screen and (min-width: 900px) {
      .data__box {
        text-align: left; }
        .data__box:not(:first-of-type) {
          border-left: solid 1px #969696; } }

.form {
  width: 100%;
  max-width: 54rem;
  margin: 0 auto;
  display: flex;
  border-radius: 1.5rem;
  overflow: hidden; }
  .form__input {
    flex: 1;
    font: inherit;
    font-size: 1.8rem;
    font-weight: 400;
    color: #2b2b2b;
    padding: 1rem 2rem;
    border: none;
    outline: none; }
  .form .btn {
    border: none;
    flex: 0 1 5rem;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .form .btn:hover {
      background-color: #2b2b2b; }
    .form .btn__icon {
      fill: transparent;
      stroke: #fff;
      width: 1.5rem;
      height: 1.5rem; }

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.banner {
  flex: 0 0 20%;
  padding: min(3rem, 5%) 5% calc(5% + 12rem) 5%;
  background-image: url(../images/pattern-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1; }
  @media screen and (min-width: 900px) {
    .banner {
      padding: min(3rem, 5%) 5% calc(5% + 2rem) 5%; } }
  .banner > *:not(:last-child) {
    margin-bottom: 2.5rem; }

.map {
  flex: 1;
  min-height: 40rem;
  background-color: #ddd;
  position: relative;
  z-index: 0; }

.msg {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
  color: red;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0 0 1rem 1rem;
  transition: transform 0.3s ease-out; }
  .msg--shown {
    transform: translate(-50%, 0); }

.header-1 {
  font-size: 2.5rem;
  color: #fff;
  text-align: center; }

.header-2 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #969696;
  letter-spacing: 2px;
  margin-bottom: 0.5rem; }

.paragraph {
  color: #000; }
